<div class="col">
  <div class="card h-100 shadow">
    <img class="card-img-top" src="{{image}}" />
    <div class="card-body">
      <button class="btn btn-danger btn-sm float-end">Delete</button>
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{description}}</p>
      <div class="card-text">
        <small class="text-muted">
          <strong>Opens: </strong>{{openDays}}
        </small>
        <span class="badge ms-2 {{styleOpening}}">{{opening}}</span>
      </div>
      <div class="card-text">
        <small class="text-muted">
          <strong>Phone: </strong>{{phone}}
        </small>
      </div>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{cuisine}}</small>
    </div>
  </div>
</div>